label {
  vertical-align: top;
  display: inline-block;
  width: 10rem;
  padding-right: 1rem;
  text-align: right;
}

header {
    margin-bottom: 2em;
}

body {
  background-color: #151717;
  color: #f1e6f7;
  font-family: Arial;
}

a {
  color: #e8b3d5;
}

input, textarea, button, select {
  background-color: #151717;
  color: #f1e6f7;
}

input[type="text"], input[type="date"] {
  width: 75%;
  max-width: 750px;
}

ul {
  margin: 0;
  padding: 0 0 0 1em;
}

li {
  list-style: none;
  margin-bottom: 0.5em;
}

.hidden {
    display: none;
}

.fieldinput {
    margin-top: 1em;
    margin-bottom: 2em;
}

.ml {
    margin-left: 10em;
}

@media only screen and (max-width: 500px) {
    .neocities-link {
        display: block;
        padding-left: 1em;
    }
}

.image-preview {
    max-height: 250px;
}

.input-container {
    display: inline;
}

.image-preview {
    display: block;
    padding: 10px;
}
@media only screen and (min-width: 500px) {
    .image-preview {
        margin-left: 172px;
    }
}
