/env/
/__pycache__/
/src/mouseadmin_well.egg-info/
/src/mouseadmin/__pycache__/
/build/
*.db
/node_modules/
**/#*#
**/.#*
mock_data/*
!mock_data/.gitkeep
cache/*
!cache/.gitkeep
/src/mouseadmin/log.txt
