<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title.upper() }} | games journal</title>
    <link
      href="https://dumbiee.neocities.org/reviews/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
  </head>
  <body style="background-repeat: repeat-x; margin: 0">
    <div id="game-house">
      <div id="game-info">
        <div style="float: right">
          <a href="https://dumbiee.neocities.org/reviews/home.html">back</a> |
          <a href="/home">home</a>
        </div>
        <img src="{{ art_url }}" />
        <h1 class="title">{{ title }}</h1>
        <h2>{{ deverloper }}</h2>
        <h3 class="rating">{{ rating }}</h3>
        <h4>
          platform: <b>{{ platform }}</b><br />
          completion: <b>{{ completion }}</b><br />
          method: <b>{{ method }}</b>
        </h4>
      </div>
      <div id="game-review">
        <h1>review</h1>
        <h2 class="date">{{ date }}</h2>
        <hr />
        <div class="meat">{{ review|safe }}</div>
      </div>
      <div class="game-rec">
        <div class="game-rec-q">so, do i recommend this?</div>
        <div class="game-rec-a">{{ recommendation|safe }}</div>
      </div>
      {{ extra_content }}
    </div>
  </body>
</html>
