<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>games journal</title>
    <link
      href="https://dumbiee.neocities.org/reviews/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <script defer>
      Array.from(document.querySelectorAll(".rating-filter")).forEach(filter =>
        filter.onclick = () => doFilter(filter.dataset["rating"])
      );
      function doFilter(rating) {
        Array.from(document.querySelectorAll("#games div")).forEach(div => {
            div.style.display = 'none';
        });
        Array.from(document.querySelectorAll("#games a")).forEach(game => {
          if (Math.floor(game.dataset["rating"]) !== Math.floor(rating)) {
            game.style.display = 'none';
          } else {
            game.style.display = 'initial';
          }

        });
      }
    </script>
  </head>
  <body>
    <div id="header">
      <a href="/home">home</a>
      <p></p>
      <h1>gaming journal & reviews</h1>
      welcome! this is my attempt to chronicle my biased feelings on every game
      i've ever watched or played.<br />
      choose from the dropdown list for more info! you can also pick a star to
      sort by rating.
      <p></p>
      didn't like at all :
      <a class="rating-filter" href="#" data-rating="1"><font color="#aab3e8">★</font></a
      ><font color="#645796">★★★★</font><br />
      enjoyed a bit, mostly unpleasant :
      <a class="rating-filter" href="#" data-rating="2"><font color="#aab3e8">★★</font></a
      ><font color="#645796">★★★</font><br />
      good, but nothing too amazing :
      <a class="rating-filter" href="#" data-rating="3"><font color="#aab3e8">★★★</font></a
      ><font color="#645796">★★</font><br />
      had a great time :
      <a class="rating-filter" href="#" data-rating="4"><font color="#aab3e8">★★★★</font></a
      ><font color="#645796">★</font><br />
      essentially a perfect experience :
      <a class="rating-filter" href="#" data-rating="5"><font color="#aab3e8">★★★★★</font></a>
      <p>total games reviewed: <b>{{ game_review_count }}</b></p>

      <div class="dropdown">
        <button class="dropbtn">select a game ...</button>
        <div id="games" class="dropdown-content">
          {% for letter, reviews in reviews_by_first_letter %}
            <div>-- {{ letter }} --</div>
            {% for review in reviews %}
              <a href="{{ review.neocities_path }}" data-rating="{{ review.rating }}">
                {{ review.title }} ({{ review.rating }})
              </a>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="prev">
      <div class="prev-head">
        <h2>∎ most recent game ∎</h2>
      </div>

      <div class="prev-foot">
        <b>
          ▪ other recents: ▪
          <br />
          {% for review in recent_reviews %}
            <a href="{{ review.neocities_path }}">{{ review.title }} ({{ review.rating }})</a>
            {% if not loop.last %} ▪ {% endif %}
          {% endfor %}
        </b>
      </div>
      <div class="house">
        <div class="info">
          <a href="{{ most_recent_review.neocities_path }}" style="text-decoration: none">
            <img src="{{ most_recent_review.art_url }}" />
            <h1>{{ most_recent_review.title }}</h1>
            <h3>
              <font color="#fff">
                {{ most_recent_review.rating_stars }}<br />({{ most_recent_review.rating }})
              </font>
            </h3>
          </a>
        </div>
        <div class="review">
          <b>reviewed on: {{ most_recent_review.date_string }}</b>
          <hr />
          {{ most_recent_review.review_html|safe }}
        </div>
      </div>
    </div>
  </body>
</html>
