<html>
  <head>
    <title>
      mouseadmin - {% if title %}{{ title }}{% else %}new review{% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}" />
    <script>
      function appendExtras(value) {
        document.getElementById("extra_content_html").value =
          (
            document.getElementById("extra_content_html")
              .value
              + `\n${value}`
          ).trim();
      }
      function appendExtrasSection() {
        appendExtras(`\n<div class="extras"> </div>\n`);
      }
      function appendDLCSection() {
        appendExtras(`
<div id="dlc">
<img src="{ DLC art here }">
<h1>DLC review: { DLC name here }</h1>
<h2>{ date here }</h2>
<h3>{ rating here }</h3>
<hr>
{ review here }
</div>
<div class="game-rec">
  <div class="game-rec-q">so, do i recommend this?</div>
  <div class="game-rec-a">
    { recommendation here }
  </div>
</div>
`);
      }
    </script>
  </head>
  <body>
    <a href="/review/">Back</a>
    <h1>
      mouseadmin - {% if title %}edit {{ title }}{% else %}new review{% endif %}
    </h1>
    <form id="review-form" method="post">
      <ul>
        <li>
          <label for="title">Title </label>
          <input
            name="title"
            id="title"
            required
            value="{{ title }}"
            {% if title %}readonly{% endif %}
          />
        </li>
        <li>
          <label for="developer">Developer</label>
          <input name="developer" id="developer" value="{{ developer }}"/>
        </li>
        <li>
          <label for="rating"> Rating</label>
          <select name="rating" id="rating">
            <option value="1" {% if rating == 1 %}selected{% endif %}>1</option>
            <option value="1.5" {% if rating == 1.5 %}selected{% endif %}>1.5</option>
            <option value="2" {% if rating == 2 %}selected{% endif %}>2</option>
            <option value="2.5" {% if rating == 2.5 %}selected{% endif %}>2.5</option>
            <option value="3" {% if rating == 3 %}selected{% endif %}>3</option>
            <option value="3.5" {% if rating == 3.5 %}selected{% endif %}>3.5</option>
            <option value="4" {% if rating == 4 %}selected{% endif %}>4</option>
            <option value="4.5" {% if rating == 4.5 %}selected{% endif %}>4.5</option>
            <option value="5" {% if rating == 5 %}selected{% endif %}>5</option>
          </select>
        </li>
        <li>
          <label for="platform"> Platform</label>
          <select name="platform" id="platform">
            <option value="PC" {% if platform == "PC" %}selected{% endif %}>PC</option>
            <option value="PSX" {% if platform == "PSX" %}selected{% endif %}>PSX</option>
            <option value="PS2" {% if platform == "PS2" %}selected{% endif %}>PS2</option>
            <option value="PS3" {% if platform == "PS3" %}selected{% endif %}>PS3</option>
            <option value="PS4" {% if platform == "PS4" %}selected{% endif %}>PS4</option>
            <option value="xbox" {% if platform == "xbox" %}selected{% endif %}>xbox</option>
            <option value="xbox 360" {% if platform == "xbox 360" %}selected{% endif %}>xbox 360</option>
            <option value="NES" {% if platform == "NES" %}selected{% endif %}>NES</option>
            <option value="SNES" {% if platform == "SNES" %}selected{% endif %}>SNES</option>
            <option value="N64" {% if platform == "N64" %}selected{% endif %}>N64</option>
            <option value="GCN" {% if platform == "GCN" %}selected{% endif %}>GCN</option>
            <option value="wii" {% if platform == "wii" %}selected{% endif %}>wii</option>
            <option value="wii u" {% if platform == "wii" %}selected{% endif %} u>wii u</option>
            <option value="switch" {% if platform == "switch" %}selected{% endif %}>switch</option>
            <option value="gameboy" {% if platform == "gameboy" %}selected{% endif %}>gameboy</option>
            <option value="GBC" {% if platform == "GBC" %}selected{% endif %}>GBC</option>
            <option value="GBA" {% if platform == "GBA" %}selected{% endif %}>GBA</option>
            <option value="DS" {% if platform == "DS" %}selected{% endif %}>DS</option>
            <option value="3DS" {% if platform == "3DS" %}selected{% endif %}>3DS</option>
          </select>
        </li>
        <li>
          <label for="emulated">Emulated?</label>
          <input name="emulated" id="emulated" type="checkbox" {% if emulated %}checked{% endif %} />
        </li>
        <li>
          <label for="completion">Completion</label>
          <select name="completion" id="completion">
            <option value="full" {% if completion == "full" %}selected{% endif %}>full</option>
            <option value="partial" {% if completion == "partial" %}selected{% endif %}>partial</option>
          </select>
        </li>
        <li>
          <label for="method"> Method</label>
          <select name="method" id="method">
            <option value="played" {% if method == "played" %}selected{% endif %}>played</option>
            <option value="watched" {% if method == "watched" %}selected{% endif %}>watched</option>
          </select>
        </li>
        <li>
          <label for="date">Date</label>
          <input
            type="date"
            required
            name="date"
            id="date"
            value="{{ date_iso }}"
          />
        </li>
        <li>
          <label for="art_url"> Art URL</label>
          <input name="art_url" id="art_url" value="{{ art_url }}" />
        </li>
        <li>
          <label for="review_html">Review</label>
          <textarea
            cols="50"
            rows="10"
            name="review_html"
            id="review_html"
          >{{ review_html }}</textarea>
        </li>
        <li>
          <label for="recommendation_html">Recommendation</label>
          <textarea
            cols="50"
            rows="4"
            name="recommendation_html"
            id="recommendation_html"
          >{{ recommendation_html }}</textarea>
        </li>
        <li>
          <label for="extra_content_html">Extra content html</label>
          <div style="display: inline-block;">
            <div>
              <textarea
                name="extra_content_html"
                id="extra_content_html"
                cols="50"
                rows="10"
                >{{ extra_content_html }}</textarea>
            </div>
            <button type="button" onclick="appendExtrasSection()">Add extras section</button>
            <button type="button" onclick="appendDLCSection()">Add DLC section</button>
          </div>
        </li>
      </ul>
      <button type="submit">{% if title %}Edit review{% else %}Create review{% endif %}</button>
      <button formtarget="_blank" id="preview-button" formaction="/review/preview/" type="submit">Preview</button>
    </form>
  </body>
</html>
