<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title.upper() }} | games journal</title>
    <link
      href="https://dumbiee.neocities.org/reviews/style.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
  </head>
  <body style="background-repeat: repeat-x; margin: 0">
    <div
      id="game-house"
      data-title="{{ title }}"
      data-developer="{{ developer }}"
      data-rating="{{ rating }}"
      data-platform="{{ platform }}"
      data-completion="{{ completion }}"
      data-method="{{ method }}"
      data-date="{{ date_iso }}"
      data-art-url="{{ art_url }}"
    >
      <div id="game-info">
        <div style="float: right">
          <a href="/reviews/home.html">back</a> |
          <a href="/home">home</a>
        </div>
        <img src="{{ art_url }}" />
        <h1><p>{{ title }}</p></h1>
        <h2>{{ developer }}</h2>
        <h3 class="rating">{{ rating_stars }}<br />({{rating}})</h3>
        <h4>
          platform: <b>{{ platform }}</b><br />
          completion: <b>{{ completion }}</b><br />
          method: <b>{{ method }}</b>
        </h4>
      </div>
      <div id="game-review">
        <h1>review</h1>
        <h2 class="date">{{ date_string }}</h2>
        <hr />
        <div id="game-review-content" class="meat">{{ review_html|safe }}</div>
      </div>
      <div class="game-rec">
        <div class="game-rec-q">so, do i recommend this?</div>
        <div id="game-rec-answer" class="game-rec-a">
          {{ recommendation_html|safe }}
        </div>
      </div>
      {% if extra_content_html %}
        <div class="divider"></div>
        <div id="extras">{{ extra_content_html|safe }}</div>
      {% endif %}
    </div>
  </body>
</html>
