<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mouseadmin - {{ template.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{{ url_for('static', filename='fuse.min.js') }}"></script>
    <script>
      async function confirmDelete(entryId, entryPath) {
          if (window.confirm(`Are you sure you want to delete ${entryPath}?`)) {
              await fetch(`/templates/entry/${entryId}/delete`, {method: "POST"})
              window.location.reload()
          }
      }


      window.onload = () => {
          const elements = Array.from(document.querySelectorAll('.entry'));
          const container = document.getElementById("entry-list");
          const search = document.getElementById("search")
          const terms = elements.map(element => ({
              ...JSON.parse(element.dataset['entry']).template_variables,
              element: element,
          }));
          const keys = Object.keys(terms[0]).filter(x => x !== "element");
          const fuse = new Fuse(terms, { keys, threshold: 0.8 });
          console.log(terms);
          console.log(keys);

          const listener = event => {
              window.setTimeout(() => {
                  const query = event.target.value;
                  if (!query) {
                      container.innerHTML = "";
                      elements.forEach(element => container.appendChild(element));
                  } else {
                      const result = fuse.search(query);
                      container.innerHTML = "";
                      result.forEach(({ element }) => container.appendChild(element));
                  }
              }, 20);
          };
          search.onkeydown = listener;
          search.onchange = listener;
      }
    </script>
  </head>
  <body>
    <header>
      <h1>{{ template.name }}</h1>
      <a href="/templates">Back</a>
    </header>
    <ul>
      <li><a href="/templates/{{ template.id }}/edit">Edit template</a></li>
      <li><a href="/templates/{{ template.id }}/entry/new">New entry</a></li>
    </ul>
    <h2>Entries</h2>
    <p>
    <input placeholder="Search" id="search">
    </p>
    <ul id="entry-list">
      {% for entry in template_entries %}
          <li class="entry" data-entry="{{ json.dumps(entry) }}">
            <span>
              <a href="/templates/{{ template.id }}/entry/{{ entry.id }}">
                {{ entry.entry_path }}
              </a>
            </span>
            <span>
              <span class="neocities-link"><a target="_blank" href="{{NEOCITIES_DOMAIN}}{{ template.neocities_path}}/{{ entry.entry_path }}">Neocities &#x2197;</a></span>
              <a href="javascript:void(0)" onclick="confirmDelete({{ entry.id }}, '{{ entry.entry_path }}')">Delete</a>
            </span>
          </li>
      {% endfor %}
    </ul>
  </body>
</html>
