<!DOCTYPE html>
<html>
  <head>
    <title>mouseadmin - {{ template.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}" />
  </head>
  <body>
    <header>
      <h1>{{ template.name }}</h1>
      <a href="/templates">Back</a>
    </header>
    <ul>
      <li><a href="/templates/{{ template.id }}/edit">Edit template</a></li>
      <li><a href="/templates/{{ template.id }}/entry/new">New entry</a></li>
    </ul>
    <h2>Entries</h2>
    <ul>
      {% for entry in template_entries %}
        <li class="entry"><a href="/templates/{{ template.id }}/entry/{{ entry.id }}">{{ entry.entry_path }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
